# Gradle
.gradle/
build/
app/build/
*.iml

# Local config (path mesin lokal, jangan ikut commit)
local.properties

# Android Studio / IntelliJ
.idea/
*.hprof
captures/
.navigation/

# Keystore & signing secrets — JANGAN PERNAH commit ke repo publik
*.keystore
*.jks
release.keystore
keystore.properties

# Log & OS files
*.log
.DS_Store

# Build output
*.apk
*.aab
*.ap_
*.dex

# Kotlin/Native & misc caches
.cxx/
